// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  border: 3px solid red;
  padding: 5px 8px;
}

.field_with_errors {
  background: #fcc;
  color: #911;
  display: inline;
  padding: 6px; 
}

#tasks li {
  list-style: none;
  padding: 4px 0;
}

.handle, .completed {
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.6em;
  font-family: Arial;
  padding: 2px;
}

.handle {
  background: #BECBFF;
  color: #333;
  cursor: pointer;
}

.completed {
  background: #eee;
  color: green;
  padding: 2px 4px;
  text-decoration: none;
  &:hover {
    background: green;
    color: #eee;
  }
}

.due-date {
  font-size: 0.7em;
  color: #CCC;
}